@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Funnel Sans';
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

.header {
    flex: 0 1 auto;
}

.game-title {
    text-align: center;
    font-size: 48px;
    padding: 18px;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.scores h3 {
    font-size: 28px;
}

.main-section {
    /*Take up remaining space, then center vertically and horizontally*/
    flex: 0.65 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.round-result {
    text-align: center;
    margin-bottom: 5vh;
}

.choices {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #49B6FF;
    font-size: 28px;
    padding: 10px;
}

.footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.game-result {
    font-size: 28px;
}

.restart-button {
    width: 100px;
    font-size: 18px;
    background-color: red;
    padding: 5px;
    margin-bottom: 20px;
}